.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.alignHorizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.li {
  font-size: 1rem;
  list-style: circle;
  padding: 0.2rem 0;
}
.sectionHeader {
  font-size: 1.4rem;
  font-weight: 600;
}
.rightSection {
    padding-left: 1rem;
  }