.projectsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projectContainer {
  display: flex;
  flex-direction: column;
}
.alignHorizontal {
  display: flex;
    justify-content: space-between;
}
.li{
    list-style: circle;
    font-size: 1rem;
    padding: 0.2rem 0;
}