section.header-container {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(146, 165, 182);
}
.labeled-input {
  width: 100%;
}
a.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
h1.header-name {
  font-size: 3rem;
}
.menuBar-items {
  display: inline-flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem;
}

.main-content {
  display: flex;
}
.input-container {
  margin: auto;
  padding: 2rem;
  width: 60%;
}
div.align-horizontal {
  display: flex;
  width: 100%;
  gap: 2rem;
}
input {
  padding: 0.6rem;
  font-size: 1.2rem;
}
.align-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}
.align-vertical.margin-vertical {
  margin: 2rem 0;
}

input#image {
  width: 35%;
}
div.centerButton {
  width: 100%;
}
button.remove {
  background-color: red !important;
  color: white !important;
}
a {
  color: rgb(101, 176, 202);
  text-decoration: transparent;
}
  i{
    font-size: 2rem;
  }
.previewContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(45, 45, 45, 0.639);
  display: flex;
  align-items: center;
}
button.unsee {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 2rem;
  display: inline-flex;
  cursor: pointer;
}
label.uploadImg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
label.uploadImg img{
  max-width:90px;
}
label.uploadImg:hover{
  background-color: rgb(146, 165, 182);
}
input#image{
  display: none !important;
}